1. NUMPY
2. PANDAS
3. SCIKIT-LEARN
4. TENSORFLOW
5. KERAS
6. GPU (2GB MINIMUM)
7. SILENCE-TENSORFLOW
8. SEABORN
9. MATPLOTLIB
10. FLASK
11. HTML
12. TKINTER
13. PICKLE
14. PILLOW
15. TENSORFLOW-AGENTS